<html>
    <head></head>
    <body>
    <div class="messages-container"></div>
        <h1>Hello...</h1>
        <button id="add-char-btn">Add Character</button>
        <h1>Characters:</h1>
        <ul id="character-list"></ul>
    <script>
        const electron = require('electron');
        const { autoUpdater } = require('electron-updater');
        const ipcRenderer = electron.ipcRenderer;

        let lastMsgId = 0;

        window.quitAndInstall = function () {
            autoUpdater.quitAndInstall();
        };

        ipcRenderer.on('console', (event, consoleMsg) => {
            console.log(consoleMsg)
        });

        ipcRenderer.on('message', (event, data) => {
            showMessage(data.msg, data.hide, data.replaceAll)
        });

        function showMessage(message, hide = true, replaceAll = false) {
            const messagesContainer = document.querySelector('.messages-container');
            const msgId = lastMsgId++ + 1;
            const msgTemplate = `<div id="${msgId}" class="alert alert-info alert-info-message animated fadeIn">${message}</div>`;

            if (replaceAll) {
                messagesContainer.innerHTML = msgTemplate
            } else {
                messagesContainer.insertAdjacentHTML('afterbegin', msgTemplate);
            }

            if (hide) {
                setTimeout(() => {
                    const msgEl = document.getElementById(msgId);
                    msgEl.classList.remove('fadeIn');
                    msgEl.classList.add('fadeOut');
                }, 4000)
            }
        }

        document.getElementById('add-char-btn').addEventListener('click', () => {
            ipcRenderer.send('open:add-character-page');
        });

        const characterList = document.getElementById('character-list');

        ipcRenderer.on('render:characters', (event, characters) => {
            if (!Array.isArray(characters)) {
                return;
            }

            characterList.innerHTML = '';
            characters.forEach(character => {
                //TODO look for character.dinged boolean prop; if truthy, send a notification to OS
                // NOTE: you may need to do this from the main file in case you need a reference to mainWindow
                const li = document.createElement('li');
                const itemText = document.createTextNode(`${character.player} / ${character.name} (${character.level}) - ${character.server}`);
                li.appendChild(itemText);
                characterList.appendChild(li);
            });
        });
    </script>
    </body>
</html>
