<html>
    <head></head>
    <body>
    <div class="messages-container"></div>
        <h1 id="greeting"></h1> <button id="show-error-log-btn" style="display: inline; float: right;">SHOW ERROR LOG</button>
        <button id="add-char-btn">Add Character</button>
        <h1>Characters You Are Currently Tracking:</h1>
        <button id="refresh" style="visibility: hidden;">Refresh</button>
        <span id="character-status"></span>
        <ul id="character-list"></ul>
    <script>
        const electron = require('electron');
        const ipcRenderer = electron.ipcRenderer;
        const characterListElement = document.getElementById('character-list');
        const os = require('os');

        document.getElementById('show-error-log-btn').addEventListener('click', () => {
            ipcRenderer.send('show:error-log');
        });

        document.getElementById('add-char-btn').addEventListener('click', () => {
            ipcRenderer.send('open:add-character-page');
        });

        /**
         * Try to fetch machine name so we can use it in a greeting
         * If it fails, we simply print a generic greeting
         */
        let greetingSuffix;
        try {
            greetingSuffix = `, ${os.hostname()}`;
        } catch (err) {
            greetingSuffix = ` there`;
        }
        document.getElementById('greeting').innerHTML = `Hello${greetingSuffix}!`;

        /**
         * Displays the current status of the character list
         * For example, it could say that character data is being loaded, or that there are no characters to show
         */
        const characterStatusElement = document.getElementById('character-status');

        ipcRenderer.on('character-fetch:in-progress', event => {
            characterStatusElement.innerHTML = 'Loading latest data...';
            refreshButton.style.visibility = 'hidden';
        });

        ipcRenderer.on('render:characters', (event, characters) => {
            characterStatusElement.innerHTML = '';
            if (!Array.isArray(characters) || characters.length === 0) {
                characterListElement.innerHTML = '';
                return characterStatusElement.innerHTML =
                    'No Characters To Show. Click "Add Character" To Start Tracking One';
            }
            refreshButton.style.visibility = 'visible';

            characterListElement.innerHTML = '';
            characters.forEach(character => {
                const li = document.createElement('li');
                const itemText = document.createTextNode(`${character.name} (${character.level}) / ${character.server} - `);
                li.appendChild(itemText);

                const removeButton = document.createElement('button');
                const buttonText = document.createTextNode('Remove');
                removeButton.appendChild(buttonText);

                removeButton.addEventListener('click', () => {
                    li.style.color = 'red';
                    li.removeChild(removeButton);

                    const removingSpan = document.createElement('span');
                    const spanText = document.createTextNode('Removing...');
                    removingSpan.appendChild(spanText);
                    removingSpan.style.color = 'red';

                    li.appendChild(removingSpan);

                    ipcRenderer.send('character:remove', character._id);
                });

                li.appendChild(removeButton);

                characterListElement.appendChild(li);
            });
        });

        const refreshButton = document.getElementById('refresh');
        refreshButton.addEventListener('click', () => {
            ipcRenderer.send('refresh:characters');
        });
    </script>
    </body>
</html>
